@font-face {
	font-family: BebasNeue Bold;
	font-display: swap;
	src: url("../fonts/BebasNeue Bold.woff2") format("woff2"), url("../fonts/BebasNeue Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
